{% extends 'base.html' %}
{% block title%} Blog de Noticias{% endblock %}
{% block content%}
<div class="columns">
    <div class="column is-offset-3 is-6">

        <div class="is-flex is-justify-content-space-between is-align-items-center">
            <h1 class="title">Lista de Posts</h1>
            <a class="button is-success" href="{{ url_for('posts.add_post') }}">Agregar Post</a>
        </div>

        <div class="is-flex is-justify-content-space-between is-align-items-center" style="margin-top: 2rem;">
            <a class="button is-light" href="{{ url_for('index') }}">
                <i class="fa-solid fa-arrow-left"></i> &nbsp; Regresar al inicio
            </a>
        </div>

        <br><br>
        {% for post in posts %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ post.title }}</p>
                        <p class="subtitle is-5">{{ post.category.name }}</p>
                    </div>
                </div>
                <div class="content">
                    {{ post.content }}
                    <br><br>
                    <div>
                        <!-- Botón para editar -->
                        <a href="{{ url_for('posts.update_post', id=post.id) }}" class="button is-small is-link is-outlined">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <!-- Formulario para eliminar con método POST -->
                        <form action="{{ url_for('posts.delete_post', id=post.id) }}" method="POST" style="display: inline;" onsubmit="return confirm('¿Seguro que deseas eliminar este post?');">
                            <button type="submit" class="button is-small is-danger is-outlined">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock%}